{{ define "page/directory" }}
<!DOCTYPE html>
<html lang="en">
	{{ template "fragments/simple_header" (printf "Content of - %q" .Basename) }}
	<body>
		<h1>Content of - {{.Basename }}</h1>
		{{ template "fragment/createDir" }}
		{{ template "fragment/upload" }}

		<section class="tileset">
			{{ range .Dirs }}
			<a class="dir tile" title="{{ . }}" href="./{{.}}/">
				<i class="icon ic-folder"></i>
				<span class="label">{{ . }}/</span>
			</a>
			{{ end }}
			{{ range .Files }}
			<a href="./{{ . }}" class="file tile" title="{{ . }}">
				<i class="icon ic-file"></i>
				<span class="label">{{ . }}</span>
			</a>
			{{ end }}
		</section>
	</body>
</html>
{{ end }}